@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	/* === Colors === */
	--color-primary: #19e63c;
	--color-primary-dark: #00630f;
	--color-background-light: #f6f8f6;
	--color-background-dark: #112114;

	/* === Fonts === */
	--font-display: 'Newsreader', serif;

	/* === Border Radius === */
	--radius: 0.5rem;
	--radius-lg: 1rem;
	--radius-xl: 1.5rem;
	--radius-full: 9999px;
}

@layer base {
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}

	body {
		font-family: var(--font-display);
	}
}
